@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
// thx to yannenchemin

html {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body { //배경의 위치
  width: 100px;
  height: 1000px;
  margin: auto;
  padding: 0px;
  background-color: #ffffff;
}

#Title { //타이틀 위치
  width: 600px;
  height: 200px;
  margin: 100;
  padding: 100px;
  padding-bottom: 0px;

  font-size: 50pt;
  font-weight: bold;
  text-align: center;
  color: #151515;
  background-color: #ffffff;
  font-family: 'Nanum Gothic Coding', monospace;

  display: block;
}

#Story{ //스토리
  width: 600px; //텍스트상자
  height: 100px; //텍스트상자
  margin: 0;
  padding: 0px;
  padding-left: 101px;
  padding-right: 101px;
  font-weight: bold;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;

  display: block;
}

canvas {
  position: relative;
  top: 300px;
  margin: auto;
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  display: block;
}
