@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body {
  width: 600px;
  height: 1000px;
  margin: auto;
  padding: 0px;
  background-color: #ffffff;
}

#Title {
  width: 600px;
  height: 200px;
  margin: 100;
  padding: 100px;
  padding-bottom: 0px;

  font-size: 50pt;
  font-weight: bold;
  text-align: center;
  color: #151515;
  background-color: #ffffff;
  font-family: 'Nanum Gothic', sans-serif;

  display: block;
}

#Story{
  width: 600px;
  height: 60px; 
  margin: 0;
  padding: 0px;
  padding-left: 101px;
  padding-right: 101px;
  font-weight: bold;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;

  display: block;
}

canvas {
  position: relative;
  top: 0px;
  margin: auto;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #ffffff;
  display: block;
}
